@page
@model PrivacyModel
@{
    ViewData["Title"] = "Página de prueba";
}
<h1>Formulario de muestra</h1>

<div>
    <div class="mb-3">
        <label for="txtNombres" class="form-label">Nombres</label>
        <input type="text" class="form-control" id="txtNombres" placeholder="Pepito">
    </div>
    <div class="mb-3">
        <label for="txtApellidos" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="txtApellidos" placeholder="Perez">
    </div>
    <div class="mb-3">
        <label for="txtEdad" class="form-label">Edad</label>
        <input type="number" class="form-control" id="txtEdad" placeholder="18">
    </div>
    <div class="mb-3">
        <button class="btn btn-primary">Enviar</button>
    </div>
    <label>Hola</label>
    <br/>
    <input type="text"/>
</div>


